<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="true" thread-count="2">
  <test name="Test">
  	<parameter name="browser" value="chrome"/>
    <classes>
      <class name="tests.NewTest"/>
      <class name="tests.ResumeUpdate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->